.center{
	
	
}
#homeslide-height{
	height:10rem;
}

video {
  
  height: auto;
}

#homepage-slide{

	background-size:relative;
	height:100vh;
}
.carousel-item{
    
	height:100vh;
	width: 100vw;
	color:#eee;
	position: relative;
	background-position: center;
	background-size:relative;

}
.carousel-item{
	height:rem;
	width: 100vw;
	background:black;
	color:#eee;
	position: relative;
	background-position: center;
	background-size:cover;
    
	
}
.overlay-image{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	top:0;
	background-position: center;
	background-size:cover;
	opacity: 0.5;
	z-index:-1;
}

.container1{
	position:absolute;
	bottom:0;
	left:0%;
	right:0;
	padding-bottom:40px;
	
	text-align:middle;

}
.container2{
	position:absolute;
	bottom:0;
	left:0%;
	right:0;
	padding-bottom:50px;
}
.container3{
	position:absolute;
	bottom:0;
	left:0%;
	right:0;
	padding-bottom:50px;
	
}


@media screen and (min-width: 1366px) {

.carousel-item{
    
	height:100vh;
	color:#eee;
	position: relative;
	background-position: center;
	background-size:auto;


}
#slide-1{
	  min-width: 100%;
  min-height: 100%;
}
#slide-2{
	  min-width: 100%;
  min-height: 100%;
   margin-top:-150px;
}
#slide-3{
       
		  min-width: 100%;
  min-height: 100%;
}

.font-control{
	font-size: 20px;
	
}

}


@media screen and (min-width: 1600px) {
.carousel-item{
    
	height:100vh;
	color:#eee;
	position: relative;
	background-position: center;
	background-size:auto;

}
#slide-1{
	  min-width: 100%;
  min-height: 100%;
}
#slide-2{
	  min-width: 100%;
  min-height: 100%;
    margin-top:-150px;
}
#slide-3{

		  min-width: 100%;
  min-height: 100%;
}

.font-control{
	font-size: 20px;
	
}

}




@media screen and (min-width: 1920px) {
.carousel-item{
    
	height:100vh;
	color:#eee;
	position: relative;
	background-position: center;
	background-size:auto;

}
#slide-1{
	  min-width: 100%;
  min-height: 100%;
}
#slide-2{
	  min-width: 100%;
  min-height: 100%;
    margin-top:-150px;
}
#slide-3{

		  min-width: 100%;
  min-height: 100%;
}

.font-control{
	font-size: 20px;
	
}

}


@media screen and (min-width: 2560px) {
.carousel-item{
    
	height:100vh;
	color:#eee;
	position: relative;
	background-position: center;
	background-size:auto;

}
#slide-1{
	  min-width: 100%;
  min-height: 100%;
}
#slide-2{
	  min-width: 100%;
  min-height: 100%;
    margin-top:-150px;
}
#slide-3{

		  min-width: 100%;
  min-height: 100%;
}

.font-control{
	font-size: 20px;
	
}

}


@media screen and (min-width: 3440px) {
.carousel-item{
    
	height:100vh;
	color:#eee;
	position: relative;
	background-position: center;
	background-size:auto;

}
#slide-1{
	  min-width: 100%;
  min-height: 100%;
}
#slide-2{
	  min-width: 100%;
  min-height: 100%;
    margin-top:-150px;
}
#slide-3{

		  min-width: 100%;
  min-height: 100%;
}

.font-control{
	font-size: 20px;
	
}

}


@media screen and (min-width: 3840px) {
.carousel-item{
    
	height:100vh;
	color:#eee;
	position: relative;
	background-position: center;
	background-size:auto;

}
#slide-1{
	  min-width: 100%;
  min-height: 100%;
}
#slide-2{
	  min-width: 100%;
  min-height: 100%;
    margin-top:-250px;
}
#slide-3{

		  min-width: 100%;
  min-height: 100%;
}

.font-control{
	font-size: 20px;
	
}

}


